body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    color: #303030;
}

button:active{
   transform: scale(0.95);
}

.container{
    border-radius: 10px;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25),
      0 10px 10px rgba(0,0,0,0.22);
    width: 768px;
    max-width: 100%;
    min-width: 480px;
    height: 100vh;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}
    

section{
    background-color: #1a60e4ad;
    color: aliceblue;
}

section h1{
    font-size: 5rem; 
    margin-bottom: -25%;
    padding-bottom: 0px;
}

main h3{
    font-size: 1.4rem;
    margin-top: 0px;
    padding-top: 0px;
}

section button{
    background: transparent;
    width: 9rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    margin-left: 38%;
    margin-top: -30%;
    color: aliceblue;
}


main h1{
   font-size: 4rem;
   margin-bottom: -10%;
}

main p{
    font-size: 1.2rem;
}


main #inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15%;
}

#inputs input{
    width: 18rem;
    height: 2.5rem;
    margin: 1%;
    background-color: #CCCCCC;
    border: 0px;
    border-radius: 10px;
    padding-left: 1%;
}

#inputs button{
    width: 18rem;
    height: 2.5rem;
    margin: 1%;
    background-color:#1a60e4ad;
    border: 0px;
    border-radius: 10px;
    padding-left: 1%;

}

/*css events*/

.sign-in-container{
    left: 0;
    width: 50%;
    z-index:2;
}

.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}

.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6;
}